/* **** RESET **** */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* **** START OF STYLING **** */

html{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

html::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}


/* ********Navigation******** */
nav{
    z-index: 6;
    position: sticky;
    top: 0px;
    background-color: white;
    padding: 2vh 0;
    width: 100vw;
    max-height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_nav,
.right_nav{
    width: 33%;
}

.sns_icons{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sns_icons a{
    width: 80%;
}

.sns_icons a svg{
    transition: 200ms;
}

.sns_icons a svg:hover{
    transform: scale(1.3);
}

.nav_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav_list_items{
 list-style: none;
 font-family: 'Roboto', sans-serif;
 font-size: medium;
}

.nav_list_items a{
    color: #919191;
}

.logo{
    font-family: 'Bree Serif', serif;
    font-size: 3vw;
}

.current a{
    color: black;
    font-weight: 600;
}



/* ******** Main Content ******** */
.welcome{
    z-index: 4;
    height: 60vh;
    width: 100vw;
    background-image: url('../img/IMG_8726.cr2.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    filter: grayscale(40%);
}

.welcome_text{
    position: absolute;
    top: 8vh;
    z-index: 5;
    height: 60vh;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome_text span{
    text-align: center;
    width: 80vw;
    padding: 50px 50px;
    font-size: 2vw;
    background-color: rgba(0,0,0,.5);
}



/* ----------------------------------------------- */
.section{
    min-height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section span{
    width: 80%;
    text-align: center;
}




.parallax_1{
    min-height: 35vh;
    width: 100%;
    background-image: url('../img/aaron-burden-9zsHNt5OpqE-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(40%);
}

.parallax_1 span{
    color: white;
    text-align: center;
    width: 80%;
    padding: 50px 50px;
    font-size: 2vw;
    background-color: rgba(0,0,0,.5);
}

.parallax_2{
    min-height: 35vh;
    width: 100%;
    background-image: url('../img/KakaoTalk_20220404_172239257.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(40%);
}

.parallax_2 span{
    color: white;
    text-align: center;
    width: 80%;
    padding: 50px 50px;
    font-size: 2vw;
    background-color: rgba(0,0,0,.5);
}

.parallax_3{
    height: 100vh;
    width: 100%;
    background-image: url('../img/sven-pieren-npl_R94xGZA-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 60%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(40%);
}

.parallax_3 span{
    position: relative;
    top: -10%;
    color: white;
    text-align: center;
    width: fit-content;
    padding: 25px 25px;
    font-size: 1.5vw;
    background-color: rgba(0,0,0);
    transition: 250ms;
}

.parallax_3 span:hover{
    transform: scale(1.3);
}

footer{
    padding-top: 25px;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 4rem;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    color: white;
}

