@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
nav{
    background: white;
    z-index: 2;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav>*{
    padding: 15px;
}

.hamburger_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile_menu{
    background-color: rgb(255, 255, 255);
    transition: 500ms;
    position: fixed;
    right: -100%;
    opacity: 0;
    width: 100%;
    z-index: 2;
    font-size: 3vh;
}

.mobile_menu li{
    padding: 5% 0 5% 8%;
}

.mobile_menu_sns{
    display: flex;
    gap: 5%;
    align-items: center;
}


.sns_icons{
    width: 30px;
}

.sns_icons a svg{
    transition: 200ms;
}

.sns_icons a svg:hover{
    transform: scale(1.3);
}

.open{
    right: 0;
    opacity: 1;
}





/* mobile menu for larger mobile devices */
.larger_mobile{
    display: none;
}

.logo a{
    font-family: 'Bree Serif', serif;
    text-decoration: none;
    color: black;
    font-size: 10vw;
}